html {
    font-family: "BioRhyme", sans-serif;
    background-image: url(./src/images/contactBackground.jpg);
    background-size: 100vw;
}

.container {
    width: 300px;
}

h1 {
    margin-top: 15%;
    margin-bottom: -2px;
    text-align: center;
}

.boxes {
    display: flex;
    flex-direction: column;
}

.submit {
    width: 24%;
    margin-top: 15px;
    font-family: "BioRhyme", sans-serif;
}

label {
    margin-top: 10px;
}

textarea {
    font-family: "BioRhyme", sans-serif;
}

input {
    font-family: "BioRhyme", sans-serif;
}

select {
    font-family: "BioRhyme", sans-serif;
}