html {
  font-family: Arial;
  background-image: url(./src/images/backgroundLandingPage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  display: block;
  align-content: center;
  color: lightcyan;
}

.bigName {
  text-align: center;
  font-size: auto;
  width: 100%;
}

.littleTitle {
  text-align: center;
  font-size: auto;
  width: 100%;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  width: 60%;
  margin: auto;
}

a:link {
  text-decoration: none;
  color: aqua;
}

a:link:visited {
  color: white;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 30px;
}

.preview {
  margin: 5px;
}

footer {
  text-align: center;
  margin-top: 10px;
}

.copalink {
  display: block;
  color: white;
  font-size: 10px;
  text-align: center;
}






/* 
a:link{
  text-decoration: none;
}

.logo {
  width: 150px;
  height: 150px;
  margin: 3% 10%;
}

header {
  display: grid;
  grid-template-columns: 40% 60%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 30% 40% 30%;
}

nav > a {
  margin: 3px 1px 3px;
  height: 10%;
  width: 25%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  border-radius: 40px;
  background: transparent;
  padding: 10px; 
  text-align: center;
  border: 2px solid black;
}

.has-border {
  font-size: 20px;
  border-radius: 30px;
  border: 10px solid transparent;
  background: transpartent;
  text-align: center;
}

.has-border:hover{
  border-color: white;
  color: green;
}

nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 2%;
}

#profile-pic {
  width: 300px;
  height: 400px;
  border-radius: 10%;
  margin: 10% auto;
  grid-column: 2/3;
  align-content: center;
}

h1 {
  color:silver;
  grid-column: 2/3;
  margin: 0% auto;
  border-bottom: 2px solid #1940A9;
  align-content: center;
  font-size: 60px;
}

h2 {
  grid-column: 2/3;
  margin: 5% auto;
  font-style: italic;
  font-size: 30px;
  color: white;

}

.small-text {
  grid-column: 2/3;
  color: white;
  font-size: 10px;
  margin: 3% auto;
}

button {
  grid-column: 2/3;
  margin: auto;
  width: 25%;
  height: 20%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  background: transparent;
  padding: 5% auto; 
  padding-bottom: 3%;
  text-align: center;
  color: rgba(255, 255, 255, 0.76);
  letter-spacing: 5px;
  font-style: bold oblique;
  border-width: 5px;
  border-color: transparent;
  border-radius: 30%;
}

button:hover{
  border-color: black;
  color: green;
}

footer {
  text-align: center;
} */