h1 {
    color: pink;
    width: 60%;
    margin: 5% auto;
}

body {
    background: gray;
}

main {
    background: white;
    width: 60%;
    margin: 5% auto;
}

article {
    margin: 2% auto;
    border: 3px solid black;
    width: 60%;
    background: yellow;
}

article > h3 {
    font-size: 1em;
}

article:hover{
    background: white;
}

article > p:hover{
    background: blue;
}