h1 {
    color: #f1f1f1;
    width: 30%;
    margin: 5% auto;
    grid: 2/3;
    text-align: center;
    font-family: arial;
}

body {
    background-image: url(../images/blog-background.jpg);
    background-size: cover;
}

main {
    background: transparent;
    width: 70%;
    margin: auto;
}

article {
    margin: 5% auto;
    border: 3px solid black;
    width: 60%;
    background: yellow;
    font-family: Arial;
    padding: 5px;
    text-align: left;
}

article > blockquote > h4 {
    text-align: center;
    font-size: 22px;
}

article:hover{
    background: white;
}

a:link {
    color: black;
}

a:visited{
    color: blue;
}

footer {
    text-align: center;
    color: white;
}

footer:hover{
    color: black;
}