h1 {
    color: white;
    width: 30%;
    margin: 5% auto;
    grid: 2/3;
    text-align: center;
    /* background-image: url(./fontbackground.jpg);
    background-repeat: none; */
}

body {
    background-image: url(../images/blog-background.jpg);
    background-size: cover;
}

main {
    background: transparent;
    width: 60%;
    margin: 5% auto;
}

article {
    margin: 2% auto;
    border: 3px solid black;
    width: 60%;
    background: yellow;
}

article > blockquote > h4 {
    text-align: center;
}

article:hover{
    background: white;
}

a:link {
    color: black;
}

a:visited{
    color: blue;
}

footer {
    text-align: center;
    color: white;
}

footer:hover{
    color: black;
}