body {
    background-image: url(../images/resume-background.jpg);
    color: white;
}

h1 {
    text-align: center;
}

h2{
    font-size: 10px;
    margin-top: -30px;
    margin-bottom: 30px;
    text-align: center;
}

a:link{
    text-decoration: none;
    color: green;
}

a:visited {
    text-decoration: none;
    color: white;
}
a:hover{
    color: green;
}

#powers {
    margin-bottom: -20px;
    text-align: auto;
}

.column {
    float: left;
    width:50%;
    align-content: center;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

h5{
    margin-bottom: -10px;
}

footer {
    text-align: center;
}

footer:hover {
    color: green;
}

.bullets{
    border: 1px solid white;
}