.container {
    display: grid;
    grid-template-columns: 900px 50px;
    grid-template-rows: auto;
    grid-area: "boxes sidebanner";
    max-width: 1000px;
    width: 100%;
    margin: auto;
}

.picture {
    width: 300px;
    height: auto;
}

.sidebanner {
    display: grid;
    grid-area: "sidebanner";
    width: 50px;
    height: auto;
}

#info-container {
    border-radius: 5px;
    padding: 30px;
    grid-area: "boxes";
}

.button {
    margin: 10px auto;
    font-family: arial;
}

.boxes {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: auto;
    justify-content: center;
    align-content: center;
}