.notsure {
    height: 200px;
    width: 200px;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 333px;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
    color: white;
}

li a.active {
    background-color: green;
    color: white;
}